---

---

<section class="editor-container">
  <header></header>
</section>

<style lang="less">
  .editor-container {
    grid-area: editor-container;
    box-sizing: border-box;
    background-color: var(--bg-color-secondary);
    & > header {
      height: var(--header-container-size);
    }
  }
</style>
