---
interface Props {
  id: string;
  title: string;
  className?: string;
  closeable?: boolean;
}

const { id, title, className = "", closeable = false } = Astro.props;
---

<div id={id} class=`collapse-container ${className}`>
  <div tabindex="0" class="header">
    <span class="codicon codicon-chevron-right"></span>
    <span class="title">{title}</span>
    {closeable && <a class="codicon codicon-close-all" href="/" />}
  </div>
  <div class="content">
    <slot />
  </div>
</div>

<style lang="less">
  .collapse-container {
    display: inline-block;
    width: 100%;

    .header {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      height: 22px;

      .title {
        flex: 1 1 auto;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 11px;
        font-weight: bold;
      }

      span.codicon {
        margin: 0 2px;
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
      a.codicon {
        display: none;
        color: var(--color-1);
        padding: 2px;
        font-size: 16px;
        height: 20px;
        width: 20px;
        box-sizing: border-box;
        margin-right: 4px;
      }

      &:hover,
      &:focus {
        a.codicon {
          display: block;
        }
      }
    }
  }
</style>
