---
import Editor from "../components/editor/Container.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="M.Subhan">
  <Main>
    <Editor />
  </Main>
</Layout>

<style lang="less"></style>
