---

---

<section class="footer-container"></section>

<style lang="less">
  .footer-container {
    grid-area: footer-container;
    box-sizing: border-box;
    background-color: var(--bg-color-primary);
    border-top: 1px solid var(--border-color);
  }
</style>
